@charset "UTF-8";

@font-face {
    font-family: Gabriola;
    src: url("../fontes/gabriola.ttf") format("truetype");
}

*{
    margin: 0px;
}

body{
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    background-color: #97caed;
    font-size: 18px;
}

body h1, h2{
    font-family: Gabriola, cursive;
    margin : 0px 0px 0px 0px;
    color: #2280bf;
    /*text-align: center;*/
}

header{
    width: 100%;
    background-color: #2280bf;
    padding: 10px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.404) ;
}

header a {
    display: block;
    width: 150px;
    margin: auto;
}

header img{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}

header > h1{
    text-align: center;
}

main{
    max-width: 1000px;
    background-color: white;
    padding: 0px 20px 20px 20px;
 
    margin: 40px auto;
    border-radius: 10px;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

main  *{
    text-indent: 20px;
    margin-bottom: 10px;
}

main h1{
    text-align: center;
}

body > div{
    max-width: 1000px;
    width: 90%;
    background-color: white;
    padding: 20px;
 
    margin: 40px auto;
    border-radius: 10px;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.secao {
    box-sizing: border-box;
    max-width: 1040px;
    padding: 0px;
    border: 0px;
}

.secao h1{
    text-align: center;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    color: white;
}
.secao ul{
    padding: 20px;
    text-align: center;
}

#nacional {
    background-color: #3f612d;
}

#mundial {
    background-color: #301a4b;
}

#infantil {
    background-color: #f49d37;
}

#poesia {
    background-color: #fb3640;
}

main button {
    width: 80%;   
    height: 800%;
    border: 3px;
    padding-inline: 0px;
    border-style: solid;
    cursor: pointer;
    border-radius: 10px;
    background-color: #01befe;
}

a > img{
    width: 100%;
}

.legenda{
    display: block;
    color: #f12856;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul{
    column-count: 4;
    list-style: none;
}

footer{
    width: 100%;
    background-color: #0F3A57;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

footer a {
    color: white;
}

button:hover{
    border-color: #f12856;
}
button:active{
    border-color: red;
}

a:hover{
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}

th, td {
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background-color: #f2f2f2;
}

td img {
width: 100px; /* ajuste o tamanho da imagem conforme necessário */
height: auto;
}

dt, dd{
    display: inline;
}

.grid_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Isso cria um grid onde as colunas se ajustam automaticamente ao tamanho da tela */
    gap: 20px; /* Espaçamento entre os itens */
    padding: 0; /* Remover o preenchimento padrão da ul */
    list-style-type: none; /* Remover marcadores de lista */
  }
  
.grid_container li {
    /* width: 100px; */
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

li img{
    width: 80%;
    height: 80%;
}

.livro {
    display: flex;
}

#capa{
    max-width: 300px;
}

button {
    margin: 10px 0px;
    font-size: 25px;
    background-color: #2280bf;
    color: white;
    outline: none;
}

button:hover{
    border: 2px solid #97caedff;
    cursor: pointer;
}

.aviso{
    /*background-color: #45CB85;*/
}